{% extends 'base.html' %}

{% block content %}

<p><b>author:</b> {{ post.user.username }}</p>
<p><b>content:</b> {{ post }}</p>

<p>
  <a href="{% url 'posts:list' %}">List</a>
  {% if request.user == post.user %}
  <a href="{% url 'posts:update' post.id %}">Edit</a>
  <a href="{% url 'posts:delete' post.id %}">Delete</a>
  {% endif %}
</p>

{% if request.user.is_authenticated %}
<form action="{% url 'posts:comment_create' post.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Save">
</form>
{% endif %}

<ul>
  {% for comment in post.comment_set.all %}
  <li>
    {{ comment.content }} - {{ comment.user.username }}
    {% if request.user == comment.user %}
    <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" method="post" style="display: inline-block;">
      {% csrf_token %}
      <input type="submit" value="Delete">
    </form>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endblock %}
