{% extends 'base.html' %}

{% block body %}

<h1>Log in</h1>

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Log in">
    <input type="hidden" name="next" value="{{ next }}">
</form>

<p>
    <a href="{% url 'accounts:signup' %}">Sign up</a>    
</p>

{% endblock %}
